
/* TOP SECTIONS ADD ONS EPS. THE SEARCH BAR*/

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: "Lobster", sans-serif;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
     font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;   
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: "Rubik", sans-serif;
    border: 2px solid rgb(9, 214, 88);
}
.btn0{
   height: 40px;
   width: 40%;
   outline: none;
   border: none;
   background: rgb(9, 214, 88) ;
   color: white;
   border-radius: 60px;
   font-weight: 700; 
}
.main{
    background: url(./Images/eclair_coffee.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(9, 214, 88);
    color: white;
    font-weight: 700; 
    border-radius: 60px;
}
.new img 
{
  width: 100%;
  height: 120px;
  object-fit: contain;  /* keeps proportions */
}
.login form 
{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}